@model IEnumerable<TestAppMVC.Models.GameDetailViewModel>

@{
    ViewBag.Title = "GameRecords";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Game Records</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        @*<th></th>*@
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Result)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
